node-red/flows.json
[{"id":"2efbb2c387baa4ed","type":"tab","label":"Blokace pretoku","disabled":false,"info":"","env":[]},{"id":"0a6e04b46dbcf59e","type":"tab","label":"Normální režim","disabled":false,"info":"","env":[]},{"id":"ed20dc007be13b87","type":"tab","label":"Vybíjení do sítě","disabled":false,"info":"","env":[]},{"id":"3ad2a73d0bc728bc","type":"tab","label":"Nabijeni ze site","disabled":false,"info":"","env":[]},{"id":"40976d4f9924475d","type":"tab","label":"Blokace baterie","disabled":false,"info":"","env":[]},{"id":"f2df2bfd.c1f268","type":"server","name":"Home Assistant","addon":true},{"id":"28cac500.2618cc","type":"server","name":"Home Assistant","addon":true},{"id":"60d84227c054f09f","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set Export Limit = 0W","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.grid_export_limit"],"data":"{\"value\":\"0.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":80,"wires":[["2f5c23602808a4db"]]},{"id":"4461d2a42c195dac","type":"api-current-state","z":"2efbb2c387baa4ed","name":"if Export Limit > 9500W","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"9500","halt_if_type":"num","halt_if_compare":"gt","entity_id":"number.grid_export_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":80,"wires":[["60d84227c054f09f"],[]]},{"id":"5b7519186c9e92bb","type":"server-state-changed","z":"2efbb2c387baa4ed","name":"Spot < 0.20Kc","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.current_spot_electricity_price","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0.20","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":140,"wires":[["f9b24f9f17f9af92"],["0b6d2d3dbf4d7b5d"]]},{"id":"129ae3dc8d9298b0","type":"api-current-state","z":"2efbb2c387baa4ed","name":"if Export Limit < 9500W","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"9500","halt_if_type":"num","halt_if_compare":"lt","entity_id":"number.grid_export_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":180,"wires":[["bff11764276047fc"],[]]},{"id":"bff11764276047fc","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set Export Limit = 9900W","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.grid_export_limit"],"data":"{\"value\":\"9900.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":180,"wires":[["7dfddf35ab1d54ee"]]},{"id":"3364ad9f5c49da09","type":"time-range-switch","z":"2efbb2c387baa4ed","name":"","lat":"","lon":"","startTime":"06:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":650,"y":80,"wires":[["4461d2a42c195dac"],[]]},{"id":"3c4563c2cb1a15d7","type":"api-call-service","z":"2efbb2c387baa4ed","name":"Notify All - Vypnuty pretoky","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Přetoky vypnuty (nízký spot)\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1740,"y":80,"wires":[[]]},{"id":"05bc57e2fa698dce","type":"api-call-service","z":"2efbb2c387baa4ed","name":"Notify All - Zapnuty pretoky","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Přetoky zapnuty (vysoký spot)\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":180,"wires":[[]]},{"id":"f9b24f9f17f9af92","type":"api-current-state","z":"2efbb2c387baa4ed","name":"if SWITCH Omezeni Pretoku = ON ","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.boolean_negative_spot_block_expor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":80,"wires":[["3364ad9f5c49da09"],[]]},{"id":"0b6d2d3dbf4d7b5d","type":"api-current-state","z":"2efbb2c387baa4ed","name":"if SWITCH Omezeni Pretoku = ON ","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.boolean_negative_spot_block_expor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":180,"wires":[["129ae3dc8d9298b0"],[]]},{"id":"1148a0079d9658c5","type":"server-state-changed","z":"2efbb2c387baa4ed","name":"press BTN - Blokace pretoku","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_export_block","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":380,"wires":[["1490879d28c7b767"]]},{"id":"1490879d28c7b767","type":"api-current-state","z":"2efbb2c387baa4ed","name":"if Export Limit > 9500W","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gt","entity_id":"number.grid_export_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":380,"wires":[["04f85fa9cbd509ca"],[]]},{"id":"04f85fa9cbd509ca","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set Export Limit = 0W","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.grid_export_limit"],"data":"{\"value\":\"0.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":380,"wires":[["02aae96d0eaa2b4f"]]},{"id":"02aae96d0eaa2b4f","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set FVE Status = Manuální blokace přetoků","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Manuální blokace přetoků\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":380,"wires":[[]]},{"id":"2f5c23602808a4db","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set FVE Status = blokace přetoků (nízký spot)","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"blokace přetoků (nízký spot)\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":80,"wires":[["3c4563c2cb1a15d7"]]},{"id":"7dfddf35ab1d54ee","type":"api-call-service","z":"2efbb2c387baa4ed","name":"set FVE Status = normální režim","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":180,"wires":[["05bc57e2fa698dce"]]},{"id":"61021b4d668102d0","type":"server-state-changed","z":"0a6e04b46dbcf59e","name":"press BTN - normální režim","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_normal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":160,"wires":[["cc9b374007505b74","ab8f68e0fd580dd5","3a817dc4c63720a2"]]},{"id":"cc9b374007505b74","type":"api-current-state","z":"0a6e04b46dbcf59e","name":"if Export Limit < 9500W","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"9500","halt_if_type":"num","halt_if_compare":"lt","entity_id":"number.grid_export_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":160,"wires":[["4a6e3c45ddec6f3c"],[]]},{"id":"b97c84e6d3929784","type":"api-call-service","z":"0a6e04b46dbcf59e","name":"set Export Limit = 9900W","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.grid_export_limit"],"data":"{\"value\":\"9900.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":160,"wires":[["4fd6f41dca3a9045"]]},{"id":"4a6e3c45ddec6f3c","type":"delay","z":"0a6e04b46dbcf59e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":160,"wires":[["b97c84e6d3929784"]]},{"id":"4fd6f41dca3a9045","type":"api-call-service","z":"0a6e04b46dbcf59e","name":"set FVE Status = normální režim","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":160,"wires":[[]]},{"id":"ab8f68e0fd580dd5","type":"api-current-state","z":"0a6e04b46dbcf59e","name":"if Export Limit > 9900W","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"9900","halt_if_type":"num","halt_if_compare":"gt","entity_id":"number.grid_export_limit","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":100,"wires":[["f36dbaf7e563c859"],[]]},{"id":"f36dbaf7e563c859","type":"delay","z":"0a6e04b46dbcf59e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":100,"wires":[["d494f94f1535afbd"]]},{"id":"d494f94f1535afbd","type":"api-call-service","z":"0a6e04b46dbcf59e","name":"set Export Limit = 9900W","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.grid_export_limit"],"data":"{\"value\":\"9900.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":100,"wires":[["4fd6f41dca3a9045"]]},{"id":"3a817dc4c63720a2","type":"api-current-state","z":"0a6e04b46dbcf59e","name":"GoodWe Mode","server":"f2df2bfd.c1f268","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":220,"wires":[["1ee8b6cf8e5fdc0e"]]},{"id":"1ee8b6cf8e5fdc0e","type":"switch","z":"0a6e04b46dbcf59e","name":"if not Mode = general","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"general","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":220,"wires":[["33b67401dfcd6e13"]]},{"id":"33b67401dfcd6e13","type":"api-call-service","z":"0a6e04b46dbcf59e","name":"set GoodWe Mode = General","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"general\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":220,"wires":[["4fd6f41dca3a9045"]]},{"id":"a6c6bfe49a8220d0","type":"server-state-changed","z":"ed20dc007be13b87","name":"press BTN - vybíjení do sítě","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_battery_discharge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":540,"wires":[["2b0b7c8f5571ac8f","60272627c916296d","fea710876f217457"]]},{"id":"2b0b7c8f5571ac8f","type":"api-current-state","z":"ed20dc007be13b87","name":"GoodWe Mode","server":"f2df2bfd.c1f268","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":540,"wires":[["422aeae5735b2590"]]},{"id":"422aeae5735b2590","type":"switch","z":"ed20dc007be13b87","name":"if not Mode = Eco Dischrage","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"eco_discharge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":540,"wires":[["0b8bc509e45b0174"]]},{"id":"0b8bc509e45b0174","type":"api-call-service","z":"ed20dc007be13b87","name":"set GoodWe Mode = Eco Discharge","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"eco_discharge\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":540,"wires":[["8208a1d49ce89a31"]]},{"id":"8208a1d49ce89a31","type":"api-call-service","z":"ed20dc007be13b87","name":"set FVE Status = Vybíjení do sítě","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Manuální vybíjení do sítě\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":540,"wires":[[]]},{"id":"60272627c916296d","type":"api-current-state","z":"ed20dc007be13b87","name":"if Eco Mode Power < 30%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lte","entity_id":"number.eco_mode_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":640,"wires":[["49c806844353a5a9"],[]]},{"id":"9b81e50176903e0c","type":"api-call-service","z":"ed20dc007be13b87","name":"set Eco Mode Power = 50%","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.eco_mode_power"],"data":"{\"value\":\"50.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":640,"wires":[["8208a1d49ce89a31"]]},{"id":"49c806844353a5a9","type":"delay","z":"ed20dc007be13b87","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":640,"wires":[["9b81e50176903e0c"]]},{"id":"fea710876f217457","type":"api-current-state","z":"ed20dc007be13b87","name":"ii Battery > 11%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"11","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.battery_state_of_charge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":420,"wires":[["748f61565190b20e"],["b138ab7a3630af18"]]},{"id":"748f61565190b20e","type":"delay","z":"ed20dc007be13b87","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":340,"wires":[["d05676b5244f87e0"]]},{"id":"d05676b5244f87e0","type":"api-current-state","z":"ed20dc007be13b87","name":"if Battery < 11%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"11","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery_state_of_charge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":120,"wires":[["b138ab7a3630af18"],["9d832d6ece193cda"]]},{"id":"b138ab7a3630af18","type":"api-current-state","z":"ed20dc007be13b87","name":"if GoodWe Mode = Eco Discharge","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"eco_discharge","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":340,"wires":[["a5e1abeeead64aa5"],[]]},{"id":"a5e1abeeead64aa5","type":"api-call-service","z":"ed20dc007be13b87","name":"set GoodWe Mode = General","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"general\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":340,"wires":[["de7e9a768bbc4858","cd4471604b6661b5"]]},{"id":"9d832d6ece193cda","type":"api-current-state","z":"ed20dc007be13b87","name":"if GoodWe Mode = Eco Discharge","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"eco_discharge","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":280,"wires":[["748f61565190b20e"],[]]},{"id":"de7e9a768bbc4858","type":"api-call-service","z":"ed20dc007be13b87","name":"set FVE Status = baterie nabita","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální - baterie nabita\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1910,"y":340,"wires":[["a2de0bfc6402d357"]]},{"id":"a2de0bfc6402d357","type":"delay","z":"ed20dc007be13b87","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2170,"y":340,"wires":[["cd628bdfe7bb22f9"]]},{"id":"cd628bdfe7bb22f9","type":"api-call-service","z":"ed20dc007be13b87","name":"set FVE Status = normální režim","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2450,"y":340,"wires":[[]]},{"id":"cd4471604b6661b5","type":"api-call-service","z":"ed20dc007be13b87","name":"Notify All - Baterie vybita do sítě","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Baterie vybita do sítě\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1910,"y":240,"wires":[[]]},{"id":"29c90f418fc873e1","type":"server-state-changed","z":"3ad2a73d0bc728bc","name":"press BTN - nabijeni ze site","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_battery_charge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":560,"wires":[["9471e807562bf706","93fd8667908c50a0","efb304939c840911"]]},{"id":"9471e807562bf706","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"GoodWe Mode","server":"f2df2bfd.c1f268","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":560,"wires":[["7e9fd30407022a5d"]]},{"id":"7e9fd30407022a5d","type":"switch","z":"3ad2a73d0bc728bc","name":"if not Mode = Eco Chrage","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"eco_charge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":560,"wires":[["ca11b76992f38e31"]]},{"id":"ca11b76992f38e31","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set GoodWe Mode = Eco Charge","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"eco_charge\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":560,"wires":[["46056a49da33503e"]]},{"id":"46056a49da33503e","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set FVE Status = Nabíjení ze sítě","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Manuální nabíjení ze sítě\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":560,"wires":[[]]},{"id":"93fd8667908c50a0","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"if Eco Mode Power < 30%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"lte","entity_id":"number.eco_mode_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":660,"wires":[["4e23e0413a127fe3"],[]]},{"id":"1d58b201d0b8b096","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set Eco Mode Power = 50%","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.eco_mode_power"],"data":"{\"value\":\"50.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":660,"wires":[["46056a49da33503e"]]},{"id":"4e23e0413a127fe3","type":"delay","z":"3ad2a73d0bc728bc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":660,"wires":[["1d58b201d0b8b096"]]},{"id":"efb304939c840911","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"ii Battery > 11%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"99","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery_state_of_charge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":440,"wires":[["a56bae32b3fba6e6"],["60ef71afb41ae1b3"]]},{"id":"a56bae32b3fba6e6","type":"delay","z":"3ad2a73d0bc728bc","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":360,"wires":[["7b289e2b31bb1790"]]},{"id":"7b289e2b31bb1790","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"if Battery > 99%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"99","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.battery_state_of_charge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":140,"wires":[["60ef71afb41ae1b3"],["f995c21c441ce65e"]]},{"id":"60ef71afb41ae1b3","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"if GoodWe Mode = Eco Charge","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"eco_charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":360,"wires":[["33d46b227411f606"],[]]},{"id":"33d46b227411f606","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set GoodWe Mode = General","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"general\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":200,"wires":[["d3bb184d64b3df6c","c99975ae9f75a8b8"]]},{"id":"f995c21c441ce65e","type":"api-current-state","z":"3ad2a73d0bc728bc","name":"if GoodWe Mode = Eco Charge","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"eco_charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":300,"wires":[["a56bae32b3fba6e6"],["33d46b227411f606"]]},{"id":"d3bb184d64b3df6c","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set FVE Status = baterie nabita","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální - baterie nabita\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":260,"wires":[["675efcab58192733"]]},{"id":"675efcab58192733","type":"delay","z":"3ad2a73d0bc728bc","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1870,"y":260,"wires":[["6b2b7a498bb98c5b"]]},{"id":"6b2b7a498bb98c5b","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"set FVE Status = normální režim","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Normální\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2150,"y":260,"wires":[[]]},{"id":"c99975ae9f75a8b8","type":"api-call-service","z":"3ad2a73d0bc728bc","name":"Notify All - Baterie nabita ze sítě","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Baterie nabita ze sítě\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":160,"wires":[[]]},{"id":"bed5be6e07d785bf","type":"server-state-changed","z":"40976d4f9924475d","name":"press BTN - blokace vybíjení","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_battery_discharge_block","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":340,"wires":[["0612b2019d4b1453","a88b6385f810e70c"]]},{"id":"0612b2019d4b1453","type":"api-current-state","z":"40976d4f9924475d","name":"GoodWe Mode","server":"f2df2bfd.c1f268","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":280,"wires":[["bb74044f8362aa33"]]},{"id":"bb74044f8362aa33","type":"switch","z":"40976d4f9924475d","name":"if not Mode = Eco Discharge","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"eco_discharge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":280,"wires":[["d6ade615294d4ff8"]]},{"id":"d6ade615294d4ff8","type":"api-call-service","z":"40976d4f9924475d","name":"set GoodWe Mode = Eco Discharge","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"eco_discharge\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":280,"wires":[["37f59c7865a076a0"]]},{"id":"37f59c7865a076a0","type":"api-call-service","z":"40976d4f9924475d","name":"set FVE Status = Blokace vybíjení baterie","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Manuální blokace vybíjení\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":340,"wires":[[]]},{"id":"a88b6385f810e70c","type":"api-current-state","z":"40976d4f9924475d","name":"if Eco Mode Power >2%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"2","halt_if_type":"num","halt_if_compare":"gt","entity_id":"number.eco_mode_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":380,"wires":[["9d936633df1388d9"],[]]},{"id":"9edbfb55bea8e09c","type":"api-call-service","z":"40976d4f9924475d","name":"set Eco Mode Power = 1%","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.eco_mode_power"],"data":"{\"value\":\"1.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":380,"wires":[["37f59c7865a076a0"]]},{"id":"9d936633df1388d9","type":"delay","z":"40976d4f9924475d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":380,"wires":[["9edbfb55bea8e09c"]]},{"id":"cca7d5fc0e8e5a4e","type":"server-state-changed","z":"40976d4f9924475d","name":"press BTN - blokace nabíjení","server":"28cac500.2618cc","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.mode_battery_charge_block","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":640,"wires":[["68be96c537b03b5a","0a35e42a77909d4d"]]},{"id":"68be96c537b03b5a","type":"api-current-state","z":"40976d4f9924475d","name":"GoodWe Mode","server":"f2df2bfd.c1f268","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.inverter_operation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":580,"wires":[["d698af94ea5def7d"]]},{"id":"d698af94ea5def7d","type":"switch","z":"40976d4f9924475d","name":"if not Mode = Eco Chrage","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"eco_charge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":580,"wires":[["ac5a128b632a939b"]]},{"id":"ac5a128b632a939b","type":"api-call-service","z":"40976d4f9924475d","name":"set GoodWe Mode = Eco Charge","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.inverter_operation_mode"],"data":"{\"option\":\"eco_charge\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":580,"wires":[["0af4b9db73920681"]]},{"id":"0af4b9db73920681","type":"api-call-service","z":"40976d4f9924475d","name":"set FVE Status = Manuální blokace nabíjení","server":"f2df2bfd.c1f268","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.fve_status"],"data":"{\"value\":\"Manuální blokace nabíjení\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":640,"wires":[[]]},{"id":"0a35e42a77909d4d","type":"api-current-state","z":"40976d4f9924475d","name":"if Eco Mode Power >2%","server":"28cac500.2618cc","version":3,"outputs":2,"halt_if":"2","halt_if_type":"num","halt_if_compare":"gt","entity_id":"number.eco_mode_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":680,"wires":[["ec8930b0184b36a7"],[]]},{"id":"b45d00a03f98c24d","type":"api-call-service","z":"40976d4f9924475d","name":"set Eco Mode Power = 1%","server":"28cac500.2618cc","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.eco_mode_power"],"data":"{\"value\":\"1.0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":680,"wires":[["0af4b9db73920681"]]},{"id":"ec8930b0184b36a7","type":"delay","z":"40976d4f9924475d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":680,"wires":[["b45d00a03f98c24d"]]}]