node-red/projects/GoodWe_NR_bojler/bojler.json
[
    {
        "id": "f892994707fe142a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "434441c66e7ab1bb",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "3b21f6bef45bc43c",
        "type": "api-current-state",
        "z": "f892994707fe142a",
        "name": "GoodWe Mode",
        "server": "434441c66e7ab1bb",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.inverter_operation_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 480,
        "y": 680,
        "wires": [
            [
                "4b0269404ac7a208"
            ]
        ]
    },
    {
        "id": "4b0269404ac7a208",
        "type": "switch",
        "z": "f892994707fe142a",
        "name": "if not Mode = Eco Dischrage",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "eco_discharge",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "59c13fd535b976bf"
            ]
        ]
    },
    {
        "id": "59c13fd535b976bf",
        "type": "api-call-service",
        "z": "f892994707fe142a",
        "name": "set GoodWe Mode = Eco Discharge",
        "server": "434441c66e7ab1bb",
        "version": 5,
        "debugenabled": false,
        "domain": "select",
        "service": "select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.inverter_operation_mode"
        ],
        "data": "{\"option\":\"eco_discharge\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "c4beeb48f1bbcc7a"
            ]
        ]
    },
    {
        "id": "c4beeb48f1bbcc7a",
        "type": "api-call-service",
        "z": "f892994707fe142a",
        "name": "set FVE Status = Vybíjení do sítě",
        "server": "434441c66e7ab1bb",
        "version": 5,
        "debugenabled": false,
        "domain": "input_text",
        "service": "set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.fve_status"
        ],
        "data": "{\"value\":\"Manuální vybíjení do sítě\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4febf7271ae3847e",
        "type": "server-state-changed",
        "z": "f892994707fe142a",
        "name": "press BTN - vybíjení do sítě",
        "server": "434441c66e7ab1bb",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_button.mode_battery_discharge",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 680,
        "wires": [
            [
                "3b21f6bef45bc43c",
                "c4beeb48f1bbcc7a"
            ]
        ]
    }
]